{% extends 'lookup/base.html' %}

{% block content %}
<div class="row p-5 bg-ligt text-warning" style="display:block"> 
{% if city %}
{% if not temp %}
		<p class="text-danger">The temperature for city with name {{ city }} does not exists </p>
{% else %}
	<div class="row p-5 bg-light text-warning">
		<div class="col-12 text-dark">
			<h2>{{ city }}</h2>
		</div>
		<div class="col-12">
			<h3>Temperature (Celsius Degree): {{ temp }}</h3>
		</div>	
{% endif %}
{% endif %}
</div>
{% endblock content %}
